<!-- {% extends "admin/includes/forms.html" %} -->
{% block schoolinfo_field %}
{{field.field}}
{% endblock %}
<!-- {% if news_list %}
  <ul>
  {% for elem in news_list %}
    <li>
      <h3>{{ elem.title }}</h3>
      <p>{{ elem.content }}</p>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>暂无新闻</p>
{% endif %} -->
<!-- <p>yes</p> -->
<!-- {% if dean_list %}
  <ul>
  {% for elem in dean_list %}
    <li>
      <h3>{{ elem.name }}</h3>
      <p>{{ elem.st_year_mon }}</p>
      <p>{{ elem.end_year_mon }}</p>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>暂无数据</p>
{% endif %} -->
